 


.navbar-tint{
    background-color: #9999cc!important;
}
.backgroundColor{
    background-color: #ccccff!important;
}
.blueShadow{
    background-color: #6699cc!important;

}

/*  Navbar Social icons  */
.navIcons {
    float: right;
    text-align: right;


}


/*  Customize google font  */
.titleFont {
    font-family: 'Sofia', cursive;
    font-family: 'Great Vibes', cursive;
    
    font-weight: bold;

}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #ccccff!important;
  

}

/*  FOr Amour title */

#headliner{
    margin-bottom: 0px!important;


}
.titleName {

    font-size: 150px;
    height: 150px;


}
.titleName2{
    font-size: 75px;
   
}

/*  Navbar */
.navbarLi {
    padding: 15px 75px;
    

}
/*   About me section*/

/*  background for about me section*/
#aboutMesec{
  /*  background for background-image: url("./pics/Wallpaper/gridbackground3.png");about me section*/ 
  background-color: #ccccff!important;



}
/* My message board */
#messageBoard{
     top: 50px;

}

/* My customer border */
.customerBorder {
    border-width: 30px;
    border-style: solid;
    color: #ccccff!important;
    
} 

/*  customer border for Message board*/
.messageBoardBackground {
    color:white;
    opacity: 0.5;
    margin-top: 50px;
    padding: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    

}
.whiteletters{
    color: white!important;


}


/*  Veritcally Center About me message */
.verticalCenter {
    padding-top: 70px;

}

.buttonPaddingLeft {
    padding-left: 40px;

}

#gallerySec{
    background-color: white !important;
}

/*  Gallery Border */
.galleryBorderColor{
    border:4px solid;    
    border-color: #6699cc;
}

.galleryTitle{
    font-size: 100px;
}
    



.cardBottomBorder{
    border-bottom-color:  #6699cc ;
}
.cardTopBorder{
    border-top-color:  #6699cc;
}

.fa-hair-1{
    background: url(./Icons/makeup-mirror-svgrepo-com.svg);
    color: #6699cc;
    height: 40px;
    width: 40px;
    display: block;
    margin: 0 auto;




}
.fa-scissors{
    background: url(./Icons/salon.svg);
    height: 40px;
    width: 40px;
    display: block;
    margin: 0 auto;


}
.fa-hairdryer{
    background: url(./Icons/barbershop.svg);
    color: #6699cc;
    height: 40px;
    width: 40px;
    display: block;
    margin: 0 auto;


}



/*  resize images */
.resizeImage{
    width: 250px;
    height: 200px;
}

.zoomIn:hover{
  box-shadow:   0 8px 16px 0 #6699cc, 0 6px 20px 0 #6699cc;
    box-shadow: 0 8px 16px 0 #6699cc, 0 6px 20px 0 #6699cc;
    transition:all .55s ease-in-out;
    




}
.clearcardbackground {
   
    background-color:transparent;

    color: white;

}



.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #9999cc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #9999cc;
  outline: 0 none;
  transition: border-color .15s ease-in-out,box-shadow 15s ease-in-out
}



 
.footerPadding{

   
    padding-top: 100px;
    padding-bottom: 100px;

}











